body {
    background-color: #fab3a9;
    color: #463239;
    font-family: "Courier New", Courier, monospace;
    /* margin: 0; */
}

a {
    color: #463239;
    text-decoration: none;
}

#userPic {
    height: 300px;
    width: auto;
}

#logo {
    width: 50px;
    height: 50px;
}

.upperBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin: 2%;
}

#profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#otherProfilePic {
    max-height: 200px;
    max-width: auto;
}

.otherProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploaderForm {
    display: flex;
    flex-direction: column;
}

#changeProfilePicBtn {
    /* max-width: 180px; */
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: burlywood;
    text-align: center;
    transition: all 0.2s;
}

/* #profilePicLabel {
    background-color: chocolate;
    border-radius: 10%;
    display: flex;
    justify-content: center;
} */

#profilePicLabel {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: black;
    background-color: burlywood;
    text-align: center;
    transition: all 0.2s;
}

#profilePicLabel:hover {
    background-color: #dae1e5;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container {
    height: 450px;
    width: 900px;
    overflow: auto;
    background-color: #c6d8d3;
    border: 3px none black;
    display: flex;
    /* justify-content: center; */
}

.chat-container ul {
    list-style-type: none;
    margin: 0px;
}

.chat-container img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    max-width: 50px;
    margin-right: 6px;
    margin-top: 6px;
    object-fit: cover;
}

.chat-container li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#chatInput {
    width: 890px;
    height: 100px;
    display: flex;
    justify-content: center;
    resize: none;
    border: black dotted 3px;
    background-color: #c6d8d3;
}

.profileContainer {
    display: flex;
    justify-content: space-around;
}

.wall-container {
    height: 450px;
    width: 500px;
    overflow: auto;
    background-color: #c6d8d3;
    border: 3px none black;
    display: flex;
    flex-direction: column;
}

.wall textarea {
    width: 492px;
    height: 100px;
    display: flex;
    justify-content: center;
    resize: none;
    /* border: none; */
    border: black dotted 3px;
    background-color: #c6d8d3;
}

.wall-container img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    max-width: 50px;
    margin-right: 6px;
    margin-top: 6px;
    object-fit: cover;
}

.wall-container ul {
    list-style-type: none;
    margin: 0px;
}

.friendsContainer ul {
    display: flex;
}
.friendsContainer li {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
}

.friendsContainer li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendsContainer li p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.usersContainer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.usersContainer li {
    margin: 10px;
}

.usersContainer li img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.usersContainer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;
}

.usersContainer a:hover {
    transform: scale(1.2);
}

.usersContainer input {
    background-color: #c6ad94;
    border-radius: 10%;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration form {
    display: flex;
    flex-direction: column;
}

.registration form input {
    margin: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form input {
    margin: 5px;
}

.login button {
    max-width: 150px;
}
